<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Operations |HOME</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header>
        <h1 align="center">
            PDF Operations
        </h1>
    </header>
    <br>
    <br>
    <br>
    <nav>
        <a href="aboutme.html">About me</a>
        <a href="Word2PDF.html">Word 2 PDF</a>
        <a href="#">Powerpoint 2 PDF</a>
        <a href="#">Excel 2 PDF</a>
        <a href="#">Images 2 PDF</a>
        <a href="#">PDF 2 Word</a>
        <a href="#">PDF 2 Excel</a>
        <a href="#">PDF 2 Powerpoint</a>
        <a href="#">PDF 2 Images</a>
        <a href="#">PDF Merge</a>
    </nav>
    <br>
    <br>
    <br>
    <main>
        <section>
            <table>
                <tr>
                    <td>
                        Word 2 PDF
                    </td>
                    <td>
                        powerpoint 2 PDF
                    </td>
                    <td>
                        Excel 2 PDF 
                    </td>
                </tr>
                <tr>
                    <td>
                        Images 2 PDF
                    </td>
                    <td>
                        PDF 2 Word
                    </td>
                    <td>
                        PDF 2 Excel
                    </td>
                    <td>
                        PDF 2 Powerpoint
                    </td>
                </tr>
                <tr>
                    <td>
                        PDF 2 Images
                    </td>
                    <td>
                        PDF Merge
                    </td>
                </tr>
            </table>
        </section>
        <br>
        <br>
        <br>
        <section>
            <p align="center">
                A simple PDF operations app to convert your PDF files to word documnets, excel spreadsheets, powerpoint presentations and vice versa, even though PDFis the superior file type \s. This is a simple tool created for the users by a dumb student as a project. Thanks for reading this much and have a great day ahead. BTW here is my <a href="https://github.com/RitabrataDutta01?tab=repositories", target="_blank">github</a> and here is my <a href="https://www.linkedin.com/in/ritabrata-dutta-0a0077320/", target="_blank">linkedin</a>. Thanks and have a good day( fr this time ).
            </p>
        </section>
    </main>
    <footer>
        <nav>
            <a href="aboutme.html">About me</a>
        </nav>
    </footer>
</body>
</html>